* {
  margin: 0;
  padding: 0;
}
body {
  background: #333;
  color: #eee;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
.wait {
  position: relative;
  margin: 10px auto;
  text-align: center;
  animation: fadey 2s linear infinite;
}
.loader {
  position: relative;
  background: #eee;
  width: 120px;
  height: 120px;
  margin: 4px auto;
  animation: distort 2s ease-out infinite;
}
.inner {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px;
  background: #fff;
  border-radius: 20px;
  animation: inner 2s ease-out infinite;
}
.inner.a {
  background: #e85a80;
}
.inner.b {
  background: #fac140;
}
.inner.c {
  background: #4ab9b0;
}
.inner.d {
  background: #a4d27a;
}
@-moz-keyframes distort {
  0% {
    transform: rotate(0deg);
    border-radius: 0px;
  }
  50% {
    transform: rotate(90deg);
    border-radius: 60px;
    background: #aaa;
  }
  100% {
    transform: rotate(180deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes distort {
  0% {
    transform: rotate(0deg);
    border-radius: 0px;
  }
  50% {
    transform: rotate(90deg);
    border-radius: 60px;
    background: #aaa;
  }
  100% {
    transform: rotate(180deg);
    border-radius: 0px;
  }
}
@-o-keyframes distort {
  0% {
    transform: rotate(0deg);
    border-radius: 0px;
  }
  50% {
    transform: rotate(90deg);
    border-radius: 60px;
    background: #aaa;
  }
  100% {
    transform: rotate(180deg);
    border-radius: 0px;
  }
}
@keyframes distort {
  0% {
    transform: rotate(0deg);
    border-radius: 0px;
  }
  50% {
    transform: rotate(90deg);
    border-radius: 60px;
    background: #aaa;
  }
  100% {
    transform: rotate(180deg);
    border-radius: 0px;
  }
}
@-moz-keyframes inner {
  0% {
    opacity: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
  50% {
    opacity: 1;
    border-radius: 0px;
    width: 60px;
    height: 60px;
    margin: 0px;
  }
  100% {
    opacity: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
}
@-webkit-keyframes inner {
  0% {
    opacity: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
  50% {
    opacity: 1;
    border-radius: 0px;
    width: 60px;
    height: 60px;
    margin: 0px;
  }
  100% {
    opacity: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
}
@-o-keyframes inner {
  0% {
    opacity: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
  50% {
    opacity: 1;
    border-radius: 0px;
    width: 60px;
    height: 60px;
    margin: 0px;
  }
  100% {
    opacity: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
}
@keyframes inner {
  0% {
    opacity: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
  50% {
    opacity: 1;
    border-radius: 0px;
    width: 60px;
    height: 60px;
    margin: 0px;
  }
  100% {
    opacity: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 20px;
  }
}
@-moz-keyframes fadey {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes fadey {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes fadey {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes fadey {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
